@import url('https://fonts.googleapis.com/css?family=Asap');

body{
	background-color: #ADADAD;
  	font-family: Asap, sans-serif;
  	height: 100%;
  	width: 100%;
}


header {
	background: #199A28;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: #F5F5F5;
}

#message {
	background: white;
	padding: 10px;
	font-size: 15px;
	line-height: 200%;
	margin-right: 10px;
  width: 96%;
}

	
#messageInput {
  width: 85%;
  margin: 10px;
  height: 40px;
}

#sendButton {
	font-family : inherit;
  font-size: 1em;
  font-weight: bold;
  border: 3px solid black;
  border-color: #21378E;
  background-color: #08874C;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#sendButton:hover {
    background: #2196F3;
    color: white;
}