@import url('https://fonts.googleapis.com/css?family=Asap');

body{
	background-color: #ADADAD;
  	font-family: Asap, sans-serif;
}

header {
	background: #199A28;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: #F5F5F5;
}

#message {
	background: #F5F5F5;
	margin: 10px;
	padding: 20px;
	font-size: 15px;
	line-height: 175%;
	margin-right:5px;
}
