<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/chatStyle.css">
</head>
<body>
	<title>
		Chat!
	</title>
	<header>
		Welcome, 
		<label id="username">{{ username }}</label>
	</header>
	<div id="messagesDiv">
		{% if messages %}
		<p id="message" style="margin: 10px;">
			{% for message in messages %}
				{{message.sentBy.username}}:&emsp;{{ message.message }}<br>
			{% endfor %}				
		</p>
		{% endif %}
	</div>
	<footer>
		<div id="messagesInputDiv">
			<form id="messageForm" action="/send_message" method="post" name="messageForm">
					<input id = "messageInput" type="text" name="message" placeholder="Start typing...">
					<input id = "sendButton" type="submit" value="Send Message"/>
			</form>
		</div>
	</footer>
	<!-- <input id = "testButton" type="button" value="Test"/> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/js/main.js"></script>
</body>
</html>