<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/loginStyle.css">
	</head>
	<body>
		<title>
			Test JS
		</title>
		<header>
			<h1>
				Test Header
			</h1>
		</header>
		<div id="data">
			Welcome to the chat! Please enter your username to chat.
		</div>
		<div id = "loginDiv">
			<form class = "loginForm" action="/login" method="POST">
				<input id = "loginInput" type="text" name="username" placeholder="User Name">
				<button id = "loginButton">Enter Site</button>
					<h4 id="errorMessage">
					{% if error %}
					{{error}}
					{% endif %}
					</h4>
			</form>
		</div>
		<script src="static/js/main.js"></script>
	</body>
</html>